<!DOCTYPE html>
<html>
  <head>
    <title><%= title  %> </title>
    <link href="//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


<header>
  <div class="banner">
    <img src="/images/heroes-banner.jpg" alt="" width="100%">
  </div>

<%- include('./partials/head') %> 



<section class="section">
  <h1>HEROES DATABASE</h1>  

  <%= resultado.alias %>
  <%= resultado.name  %>
  <%= resultado.review  %> 
 </section>











<%- include('./partials/backButton') %> 
  
  <%- include('./partials/footer') %> 
      
    </body>
  </html>