<%- include('./partials/head') %> 

<section class="w-100">

  <div class="w-100">
    <div class="d-flex f-row border">
      <div class="w-33 detail-img">
        <img src= <%= '/images/' + resultado.alias +'.png' %>   alt="" width="100%">
      </div>
      
      <div class="w-50 hero-detail">
        <h1 class="center "><%= resultado.alias.toUpperCase().replace('-', " ") %></h1>
        <hr>
        <p><h4>REAL NAME</h4><%= resultado.name.toUpperCase() %></p>
        <p><h4>POWERS</h4>
        <ul>
        <%  for(let i =0 ;i< powersArray.length;i ++){ %>
        <li><%=powersArray[i].charAt(0).toUpperCase() + powersArray[i].slice(1).toLowerCase()%> </li>

        <% } %></p>  
        </ul>
        




        <p><h4>REVIEW</h4><%= resultado.review %></p> 
      


        <form action="/heroes/<%= resultado.id %>/delete?_method=DELETE" method="post">
        <button>DELETE HERO</button>
        </form>
      </div>
  
      
    </div>
    
   
  

    </div>

  </div>



</section>


<%- include('./partials/backButton') %> 
  
  <%- include('./partials/footer') %> 
      
    </body>
  </html>